.block__button {
	margin-bottom: 12px;
}
.button {
	display: block;
	width: 100%;
	text-align: center;
	font-family: 'Roboto';
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #050505;
	background: #55b3ae;
	border-radius: 10px;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
	transition: all 0.3s;
	cursor: pointer;
	padding: 4px 10px 3px 10px;
	margin: 22px 0px 2px 0px;
}
.button:hover {
	background-color: #479692;
	transition: all 0.3s;
}
.button:active {
	transform: translateY(-1px);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
	transition: all 0.3s;
}
.label {
	display: flex;
	justify-content: space-between;
	padding: 0px 5px;
	font-size: 14px;
}
.link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	text-decoration: underline;
	color: #050505;
}
.validation {
	height: 14px;
	font-size: 11px;
	line-height: 14px;
	letter-spacing: 0;
	color: red;
	padding: 0px 5px;
	margin-bottom: 2px;
}
