.label {
	display: flex;
	justify-content: space-between;
	padding: 0px 5px;
	font-size: 14px;
}
.link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	text-decoration: underline;
	color: #050505;
}
.input {
	width: 100%;
	height: 27px;
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
	border: 1px solid #050505;
	border-radius: 10px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 1px;
	color: #050505;
	padding: 0px 10px;
	margin-bottom: 2px;
}
.input:focus {
	outline: solid 3px #55b3ae;
	border: none;
}
.validation {
	height: 14px;
	font-size: 11px;
	line-height: 14px;
	letter-spacing: 0;
	color: red;
	padding: 0px 5px;
	margin-bottom: 2px;
}
